*{
    margin: 0%;
    padding: 0%;
    
    
}
.container-fluid{
    
    padding-left: 0;
    padding-right: 0;
   
}
    

    


/*              LOGO                 */

.logo{
        margin-top: 20px ;
        display: flex;
        justify-content: center;
    
    }




    
/*                        */


/*     NAVIGATIABAR      */


li, a{
    margin: 50px 15px 40px 15px;
    font-family: 'Roboto', sans-serif ;
    color: black;
   font-weight: 300px;
   text-decoration: none;
   list-style: none;
}

.text-center{
    text-align: center;
}

li, a:hover{
    color:#588E41 ;
    }
    

/*                        */

.contactcontainer{
    margin-bottom: 50px;
    margin-top: px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

h1, h2{
    color:#588E41 ;
    font-family: 'Segoe UI';
}
h2{
    margin-bottom: 20px;
}
p{
    
    font-family: 'Segoe UI';
}
.info-openingsuren {
    display: flex;
    flex-direction: row;
}

.locatie {
    margin-top: 100px;
    
    background-image:url(../images/locatieofficial.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
    width: 100%;
    box-shadow: inset 0 0 0 1000px rgba(171, 170, 170, 0.411);
}

#tekst{
    width: 40vw;
    height:20vh ;
}

form{
    margin-left: 30px;
}
.formuliertitel{
    margin-left: 30px;
    margin-top: 40px;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 30px;
  }
  
  .button1 {background-color: #588E41;}

h3{
    display: flex;
    text-align: center;
    padding: 250px;
    font-family: 'Segoe UI';
    font-size: 50px;
    color:white;

}

.locatie:hover{
    box-shadow: none;
    
}



/*             footer             */



.footer{
    background-color: #588E41;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;

}

i{
    font-size: 40px;
    display: flex;
    color: white;
   margin: 30px 10px 20px ;
   
    
   
    
}


.footer p {
    display: flex;
    font-family: sans-serif;
    font-size: 15px;
    margin: 20px;
    color: white;

    

}

   




.text-center{
    text-align: center;
    display: grid;
}



/*                     */









@media  (max-width: 768px) {


    .navigation{
        display: none;
    }

    .navigation.toggled{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #588E41;
        width: 100%;
        
        font-family: 'Segoe UI';
        color: white;
        flex-direction: column;
        flex-wrap: wrap;
        display: fixed;
        left: 0;
        top: 0;
        
        
        
    }


    nav li, a{
        
        font-family: 'Segoe UI' ;
        color: white;
        text-decoration: none;
       list-style: none;
       font-weight: bold;
       font-size: 15px;
       margin-bottom: 20px;
       display: flex;
       flex-direction: row;
       
       
      
       
       
       
    }
    nav li, a:hover{
        color: rgb(51, 65, 48);
    }


   
    
    .logocontainer{
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }

    .logo{
        margin-top: 15px ;
        display: grid;
        justify-content: center;
       
        margin-right: 100px;
        
    
    }

    .nav-toggler {
        display: inline-block;
        
        cursor: pointer;
        margin-left: 220px;
        margin-top: 15px;
        
        
        
      }
      
      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 7px;
        background-color: #588E41;
        margin: 4px 0;
        transition: 0.4s;
        
      }
      
      /* Rotate first bar */
      .nav-toggler.toggled .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
      }
      
      /* Fade out the second bar */
      .nav-toggler.toggled .bar2 {
        opacity: 0;
      }
      
      /* Rotate last bar */
      .nav-toggler.toggled .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
      }

     

}

@media  (max-width: 380px){
    .nav-toggler {
        display: inline-block;
        
        cursor: pointer;
        margin-left: 150px;
        margin-top: 25px;
        
        
        
      }
}











@media (max-width: 830px) {

    .locatie {
        
        background-image:url(../images/locatieklein2.jpg);
        width: 100%;
        box-shadow: none;
        
    }


}

@media (max-width: 520px) {

    


}













